---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
  <section class="h-screen bg-radial-[at_40%_90%] from-sky-100 via-cyan-200 to-sky-100 to-90%">
    <Navbar />
  </section>
</Layout>
