---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <!-- NAVBAR SECTION -->
    <nav
      class="bg-black text-white flex flex-row w-full items-center px-44 py-6 border-b-2 border-b-white"
    >
      <div class="w-2/12 flex justify-start">
        <Image
          src="/black_logo.png"
          alt="NEUROVIX BLACK LOGO"
          width={200}
          height={10}
        />
      </div>
      <div class="w-5/12 flex justify-end">
        <ul class="flex flex-row items-center">
          <li><a href="#" class="hover:underline">Quienes somos</a></li>
          <li>
            <a href="#" class="flex flex-row items-center mx-10 hover:underline"
              >Servicios{" "}<Image
                src="/white_dropdown.png"
                alt="WHITE DROPDOWN"
                width={20}
                height={10}
              /></a
            >
          </li>
          <li><a href="#" class="hover:underline">Recursos</a></li>
        </ul>
      </div>
      <div class="w-5/12 flex justify-end">
        <ul class="flex flex-row items-center">
          <li>
            <a href="#" class="hover:underline flex flex-row items-center mr-5"
              >Idioma <Image
                src="/white_dropdown.png"
                alt="WHITE DROPDOWN"
                width={20}
                height={10}
              /></a>
          </li>
          <li>
            <a
              href="#"
              class="bg-white text-black rounded px-5 py-3 hover:bg-gray-300"
              >SOLICITAR UNA DEMOSTRACION</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!-- HERO SECTION -->
    <section
      class="bg-black text-white w-full flex flex-row items-center px-44 py-32"
    >
      <div class="w-5/6">
        <h1 class="text-5xl font-extrabold">
          Desarrollo de Software a la medida y Automatizacion de procesos
        </h1>
        <p class="mt-7 mb-5 font-semibold text-xl">
          Reduce costos y aumenta la eficiencia de tus operaciones con
          soluciones personalizadas
        </p>
        <a
          href=""
          class="bg-white text-black rounded px-5 py-3 font-bold text-lg hover:bg-gray-300"
          >SOLICITAR UNA DEMOSTRACION</a
        >
      </div>
      <div class="w-7/12">
        <Image
          src="/hero_photo.jpeg"
          alt="HERO PHOTO"
          class="rounded"
          width={900}
          height={400}
        />
      </div>
    </section>
    <!-- CONTENT SECTION -->
    <section class="py-20">
      <!-- COMPANIES CARROUSEL -->
      <div>
        <h2 class="text-3xl font-bold text-center mb-10">
          Empresas que confian en nosotros
        </h2>
        <div class="flex flex-row items-center justify-center gap-20">
          <Image
            src="/companies/ag_maquinado.webp"
            alt="COMPANY 1"
            class="text-gray-300 grayscale-100 hover:grayscale-0 hover:text-gray-50"
            width={200}
            height={50}
          />
          <Image
            src="/companies/alra_plastic.png"
            alt="COMPANY 2"
            class="text-gray-300 grayscale-100 hover:grayscale-0 hover:text-gray-50"
            width={100}
            height={50}
          />
          <Image
            src="/companies/mbs_construcciones.webp"
            alt="COMPANY 3"
            class="text-gray-300 grayscale-100 hover:grayscale-0 hover:text-gray-50"
            width={200}
            height={50}
          />
        </div>
      </div>
      <!-- CONTENT SECTION -->
      <div class="px-32 text-center mt-15">
        <h1 class="font-bold text-4xl px-20">Creamos <span class="text-blue-800">plataformas y sistemas a medida</span> que se adaptan 100% a las necesidades de tu empresa</h1>
        <p class="mt-5 font-extrabold text-xl">Desde aplicaciones mobiles, aplicaciones web o IIoT</p>
        <div class="flex flex-row items-center mt-10">
          <div class="w-1/3">
            <h1 class="text-5xl font-extrabold">3</h1>
            <p>Clientes que confian en nosotros actualmente</p>
          </div>
          <div class="w-1/3">
            <h1 class="text-5xl font-extrabold">+$300K MXN</h1>
            <p>Valor de proyectos realizados</p>
          </div>
          <div class="w-1/3">
            <h1 class="text-5xl font-extrabold">40 - 70 %</h1>
            <p>Reduccion de tiempos y mejora de eficiencia</p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
