---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <!-- NAVBAR SECTION -->
    <Navbar />
    <!-- HERO SECTION -->
    <section></section>
    <!-- CONTENT SECTION -->
    <section></section>
    <!-- FOOTER SECTION -->
    <Footer />
  </main>
</Layout>
