---
import Image from "astro/components/Image.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <!-- NAVBAR SECTION -->
    <Navbar />
    <!-- HERO SECTION -->
    <section
      class="bg-black text-white w-full flex flex-row items-center px-44 py-32"
    >
      <div class="w-5/6">
        <h1 class="text-5xl font-extrabold">
          Soluciones tecnologicas hechas a la medida
        </h1>
        <p class="mt-7 mb-5 font-semibold text-xl">
          Te ayudamos a crecer con software personalizado, automatizaciones inteligentes y tecnología de última generación.
        </p>
        <a
          href="/contacto"
          class="bg-white text-black rounded px-5 py-3 font-bold text-lg hover:bg-gray-300"
          >SOLICITAR UNA DEMOSTRACION</a
        >
      </div>
      <div class="w-7/12">
        <Image
          src="/hero_photo.jpeg"
          alt="HERO PHOTO"
          class="rounded"
          width={900}
          height={400}
        />
      </div>
    </section>
    <!-- CONTENT SECTION -->
     <section class="px-40 pt-15 pb-20">
      <h1 class="text-4xl font-extrabold text-center">Nuestros servicios</h1>
      <div class="w-full flex flex-row items-center mt-5 pb-24">
        <div class="w-1/3 h-72">
          <Image
            src="/web_development.jpg"
            alt="WEB DEVELOPMENT IMAGE"
            width={350}
            height={10}
            class="rounded-t-2xl"
          />
          <h1 class="font-bold text-center mt-2 mb-3 text-2xl">Desarrollo Web</h1>
          <p class="text-center">Aplicaciones web rapidas, seguras y escalables hechas a la medida para tu empresa.</p>
        </div>
        <div class="w-1/3 h-72">
          <Image
            src="/mobile_development.jpg"
            alt="MOBILE DEVELOPMENT IMAGE"
            width={350}
            height={10}
            class="rounded-t-2xl"
          />
          <h1 class="font-bold text-center mt-2 mb-3 text-2xl">Apps Moviles</h1>
          <p class="text-center">Aplicaciones Android y IOS con experiencia de usuario intuitiva y moderna.</p>
        </div>
        <div class="w-1/3 h-72">
          <Image
            src="/hardware.jpg"
            alt="HARDWARE IMAGE"
            width={350}
            height={10}
            class="rounded-t-2xl"
          />
          <h1 class="font-bold text-center mt-2 mb-3 text-2xl">Soporte & Mantenimiento</h1>
          <p class="text-center">Ofrecemos soporte técnico continuo y mantenimiento preventivo para garantizar el correcto funcionamiento de tus sistemas.</p>
        </div>
      </div>
      <div class="w-full flex flex-row items-center">
        <div class="w-1/3 h-72">
          <Image
            src="/process_automation.jpg"
            alt="PROCESS AUTOMATION IMAGE"
            width={350}
            height={10}
            class="rounded-t-2xl"
          />
          <h1 class="font-bold text-center mt-2 mb-3 text-2xl">Automatizacion de procesos</h1>
          <p class="text-center">Eliminamos tareas repetitivas con automatizaciones eficientes y personalizadas.</p>
        </div>
        <div class="w-1/3 h-72">
          <Image
            src="/artificial_intelligence.jpg"
            alt="ARTIFICIAL INTELLIGENCE IMAGE"
            width={350}
            height={10}
            class="rounded-t-2xl"
          />
          <h1 class="font-bold text-center mt-2 mb-3 text-2xl">Inteligencia Artificial</h1>
          <p class="text-center">Potencia tus operaciones con modelos de IA que aprenden y optimizan tus flujos de trabajo.</p>
        </div>
        <div class="w-1/3 h-72">
          <Image
            src="/cloud_computing.jpg"
            alt="CLOUD COMPUTING IMAGE"
            width={350}
            height={10}
            class="rounded-t-2xl"
          />
          <h1 class="font-bold text-center mt-2 mb-3 text-2xl">Despliegue en la Nube</h1>
          <p class="text-center">Implementamos soluciones escalables y seguras en entornos en la nube para maximizar el rendimiento de tus aplicaciones.</p>
        </div>
      </div>
     </section>
    <!-- FOOTER SECTION -->
    <Footer />
  </main>
</Layout>
