---
import Image from "astro/components/Image.astro";

const currentYear = new Date().getFullYear();
---

<footer class="bg-white px-20 py-10 border-t-2 border-black">
  <Image src="/white_logo.png" alt="NEUROVIX LOGO" width={200} height={10} />
  <div class="w-full flex flex-row items-center mt-10">
    <div class="w-2/3">
      <a class="mr-3 hover:underline" href="/sobre_nosotros">Acerca</a>
      <a href="/servicios" class="hover:underline">Servicios</a>
      <a class="mx-3 hover:underline" href="">Blog</a>
      <a href="" class="hover:underline">Bolsa de Trabajo</a>
      <a class="ml-3 hover:underline" href="/contacto">Contactanos</a>
    </div>
    <div class="w-1/3 flex flex-row items-center justify-end">
      <a href=""
        ><Image
          class="mx-3"
          src="/icons/facebook.png"
          alt="FACEBOOK ICON"
          width={30}
          height={10}
        /></a
      >
      <a href=""
        ><Image
          src="/icons/instagram.png"
          alt="INSTAGRAM ICON"
          width={30}
          height={10}
        /></a
      >
      <a href=""
        ><Image
          class="mx-3"
          src="/icons/linkedin.png"
          alt="LINKEDIN ICON"
          width={30}
          height={10}
        /></a
      >
      <a href=""
        ><Image
          src="/icons/tiktok.png"
          alt="TIKTOK ICON"
          width={30}
          class="mr-3"
          height={10}
        /></a
      >
      <a href=""
        ><Image
          src="/icons/youtube.png"
          alt="YOUTUBE ICON"
          width={30}
          height={10}
        /></a
      >
      <a href=""
        ><Image
          class="mx-3"
          src="/icons/x.png"
          alt="X ICON"
          width={30}
          height={10}
        /></a
      >
    </div>
  </div>
  <h1 class="text-center mt-10">
    © {currentYear}
    <span class="font-bold">Neurovix</span>. Todos los derechos reservados.
  </h1>
</footer>
