---
import Image from "astro/components/Image.astro";
---

<nav
  class="bg-black text-white flex flex-row w-full items-center px-44 py-6 border-b-2 border-b-white"
>
  <div class="w-2/12 flex justify-start">
    <a href="/">
      <Image
        src="/black_logo.png"
        alt="NEUROVIX BLACK LOGO"
        width={200}
        height={10}
      />
    </a>
  </div>
  <div class="w-5/12 flex justify-end">
    <ul class="flex flex-row items-center">
      <li>
        <a href="/sobre_nosotros" class="hover:underline">Quienes somos</a>
      </li>
      <li>
        <a href="/servicios" class="ml-5"
          >Servicios</a
        >
      </li>
    </ul>
  </div>
  <div class="w-5/12 flex justify-end">
    <ul class="flex flex-row items-center">
      <li>
        <a href="#" class="hover:underline flex flex-row items-center mr-5"
          >Language <Image
            src="/white_dropdown.png"
            alt="WHITE DROPDOWN"
            width={20}
            height={10}
          /></a
        >
      </li>
      <li>
        <a
          href="/contacto"
          class="bg-white text-black rounded px-5 py-3 hover:bg-gray-300"
          >SOLICITAR UNA DEMOSTRACION</a
        >
      </li>
    </ul>
  </div>
</nav>
